# compiled output
build

# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.vscode

# misc
deploy
coverage
ssl
npm-debug.log
.git

# System Files
.DS_Store
Thumbs.db
