.App {
  text-align: center;

  &-logo {
    height: 30vmin;
    margin: 0 0 20px;
    pointer-events: none;
  }
  
  &-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  
  &-link {
    color: #008cc0;
  }
}
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}
  
@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
